* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
#box{
    height: 400px;
    width: 400px;
    background-color: rgb(35, 95, 78);
    border-radius: 7px;
    

}
button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    
}
button:active{
    transform: scale(0.90);

}