* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  overflow: hidden;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

}
.card p{
  font-size: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;

}
.card p span{
  font-weight: 600;
  color: royalblue;
}
.card{
  width: 450px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  
}
.outer{
  height: 20px;
  width: 100%;
  background: rgb(184, 182, 182);
  border-radius: 50px;
 
}
.inner{
  height: 100%;
  width: 0%;
  background: green;
  border-radius: 50px;

}

.bottom{
  align-items: center;
  margin-top: 20px;  
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;

}
.bottom h2{
  font-weight: 600;
  font-size: 24px;
  font-family: monospace;
}
.bottom button{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}
.bottom button:active{
 scale: 0.95;
}