* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding: 15px 30px;
  font-size:45px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(207, 61, 24);
  border: none;
  border-radius: 4px;
  position: relative;
  z-index: 9;

}
button:active{
  transform: scale(0.95);
}