* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: black;

}
h1{
    font-size: 120px;
    font-weight: 800;
    background-color: lightseagreen;
    padding: 15px 35px;
    border-radius: 8px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: crimson;
    
}
button:active{
    transform: scale(0.80);

}