* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

.piano{
  display: flex;
  justify-content: center;
  gap: 4px;
  padding-top: 18px;

}
.key{
  width: 70px;
  height: 150px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: flex-end;
  padding-bottom: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  background: gray;
  color: white;
  transition: 0.1s;

}
.key:active{
  background: #333;
  transform: scale(0.95);

}
